/**** Colors ****/
/* ==========================================================================
  Mixins
========================================================================== */
/**** **** **** **** ****
BREAKPOINTS -
USAGE: @include breakpoint(small) {}
**** **** **** **** ****/
/**** **** **** **** ****
ANIMATION -
USAGE: @include animation(name, fadeIn);
USAGE: @include animation(duration, .15s);
USAGE: @include animation(delay, 1s);
USAGE: @include animation(fill-mode, both);
**** **** **** **** ****/
/**** **** **** **** ****
CLEARFIX -
USAGE: @include clearfix();
**** **** **** **** ****/
/**** **** **** **** ****
PLACEHOLDER -
USAGE: @include placeholder(#333);
**** **** **** **** ****/
/**** **** **** **** ****
FLEXBOX!
USAGE: @include flexbox();
**** **** **** **** ****/
/**** **** **** **** ****
FLEX
USAGE: @include flex(1 1 200px);
**** **** **** **** ****/
/**** **** **** **** ****
ORDER
USAGE: @include order(2);
**** **** **** **** ****/
/***** Opacity Mixin ****/
body {
  background: whitesmoke; }

.sg-label {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 1em; }

.swatch-container {
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  display: inline-block;
  text-align: left;
  margin: 2rem; }

.hex-code {
  cursor: pointer; }
  .hex-code:hover {
    background: #00abc9; }

.swatch-container,
.front,
.back {
  width: 125px;
  height: 180px; }

.front {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  top: 0;
  left: 0; }

.front {
  z-index: 2;
  cursor: pointer; }

.success {
  width: 100%;
  text-align: center;
  height: 75%;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  bottom: 50%; }

.green {
  background: #62a70f; }
  .green .hover-notification {
    background: #62a70f; }
  .green .success {
    background: #62a70f;
    color: white; }

.red {
  background: #CE0058; }
  .red .hover-notification {
    background: #CE0058; }
  .red .success {
    background: #CE0058;
    color: white; }

.grey {
  background: #54575a; }
  .grey .hover-notification {
    background: #54575a; }
  .grey .success {
    background: #54575a;
    color: white; }

.purple {
  background: #8332a7; }
  .purple .hover-notification {
    background: #8332a7; }
  .purple .success {
    background: #8332a7;
    color: white; }

.white {
  background: #ffffff; }
  .white .details {
    border-top: 1px solid #54575a; }
  .white .hover-notification {
    background: white;
    color: #54575a;
    transition: all 0.5s ease; }
  .white .success {
    background: #ffffff;
    color: #54575a; }

.front.white:hover > .hover-notification {
  color: #54575a; }

.blue .hover-notification {
  background: #003D4C; }

.blue .success {
  background: #003D4C;
  color: #ffffff; }

footer.details {
  position: absolute;
  bottom: 0;
  height: 35%;
  width: 100%;
  background-color: #fff;
  color: #222;
  padding: 10px;
  font-weight: 800;
  text-align: center;
  font-size: 1.1rem; }

footer.details,
span {
  font-weight: normal;
  display: block; }

.click-notification {
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem; }
  @media (min-width: 980px) and (max-width: 1199px) {
    .click-notification {
      width: 86.33333%; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .click-notification {
      width: 83.3333%; } }
  @media (max-width: 767px) {
    .click-notification {
      width: 85.33333%; } }

.hover-notification {
  transition: all 0.5s ease;
  text-align: center;
  height: 75%;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 1.1rem; }

.button-wrap {
  display: none;
  transition: all 0.9s ease; }

.front:hover > .button-wrap {
  color: white;
  text-align: center;
  display: block;
  height: 100%; }

.sg-section-header {
  font-weight: 400;
  width: 100%;
  margin-bottom: 3rem;
  margin-left: 1.2rem; }

.underline {
  text-decoration: underline; }

.show {
  display: block;
  position: absolute;
  top: 0; }

.colors {
  width: 70%;
  margin: 0 auto; }

/*****************************************************

  Typography Section Styles

*******************************************************/
.font-weight-wrapper {
  margin: 0 auto;
  background: #ffffff;
  width: 70%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  @media (max-width: 767px) {
    .font-weight-wrapper {
      width: 80%; } }

.type {
  padding-top: 2rem; }

.typography {
  vertical-align: middle; }
  .typography .font {
    margin: 0 15%;
    font-size: 2.3rem;
    padding-top: 1.5rem; }
    @media (max-width: 767px) {
      .typography .font {
        font-size: 1.5rem; } }

.light {
  font-weight: 300;
  letter-spacing: 0.07rem; }

.regular {
  font-weight: 400;
  letter-spacing: 0.04rem; }

.semi-bold {
  font-weight: 600;
  letter-spacing: 0.04rem; }

.bold {
  font-weight: 700;
  letter-spacing: 0.04rem; }

.panel {
  border-radius: 4px;
  background: #ffffff; }

.weight-spacing {
  margin: 0 15%; }

/*****************************************************

  UI Elements Section Styles

*******************************************************/
.button-examples .btn {
  margin-top: 2rem; }

.ui-things {
  width: 70%;
  margin: 0 auto; }
  .ui-things::after {
    content: '';
    display: block;
    clear: both; }
  @media (max-width: 767px) {
    .ui-things {
      width: 80%; } }

.ui-elements {
  padding-top: 3rem; }

.panel-examples {
  padding-top: 1rem;
  margin: 0 8%; }

.checkbox-section {
  padding-bottom: 1rem; }

#tl-checkbox {
  position: absolute;
  left: -9999px; }
  #tl-checkbox:checked + .tl-label::after {
    display: block; }

.tl-label {
  position: relative;
  margin: 10px 0;
  padding-left: 35px;
  cursor: pointer; }
  .tl-label::before,
  .tl-label::after {
    content: '';
    position: absolute;
    top: 0;
    border-radius: 50%; }

.tl-label::before {
  display: flex;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-color: #54575a; }

.tl-label::after {
  display: none;
  width: 12px;
  height: 12px;
  margin: 4px;
  background-color: #54575a; }

@media (max-width: 767px) {
  .button-examples .btn {
    margin-top: 1rem;
    text-align: center; } }

.button-examples .btn .btn-small {
  margin: 0 auto;
  text-align: center; }

/*****************************************************

Glyphs
*******************************************************/
.iconography-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  @media (max-width: 767px) {
    .iconography-wrapper {
      width: 80%; } }

.another-wrapper {
  width: 90%;
  text-align: center; }
  @media (max-width: 767px) {
    .another-wrapper .glyphicon {
      margin: .4rem; } }

/*****************************************************

Sidebar
*******************************************************/
.sidebar-wrap {
  width: 16.66667%;
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: left; }
  @media (min-width: 768px) and (max-width: 979px) {
    .sidebar-wrap {
      padding-left: 0;
      padding-right: 0;
      width: 100%; } }
  @media (max-width: 767px) {
    .sidebar-wrap {
      padding-left: 0;
      padding-right: 0;
      width: 100%; } }
  .sidebar-wrap .sidebar {
    position: fixed;
    z-index: 400;
    height: 100%;
    left: 0;
    border-left: 4px solid #cddfdf;
    background-color: #eceef3; }
    @media (min-width: 768px) and (max-width: 979px) {
      .sidebar-wrap .sidebar {
        position: relative;
        width: 100%;
        overflow: hidden;
        border: none; } }
    @media (max-width: 767px) {
      .sidebar-wrap .sidebar {
        position: relative;
        width: 100%;
        overflow: hidden;
        border: none; } }
    .sidebar-wrap .sidebar h1 {
      display: block;
      background: #62a70f;
      padding: 0;
      margin: 0 0 0 -4px;
      text-align: center;
      background-size: auto 100%;
      background-position: 0 50%; }
      @media (min-width: 768px) and (max-width: 979px) {
        .sidebar-wrap .sidebar h1 {
          background-size: cover; } }
      @media (max-width: 767px) {
        .sidebar-wrap .sidebar h1 {
          background-size: cover; } }
      .sidebar-wrap .sidebar h1 a {
        border: none !important;
        display: inline-block;
        width: 90%; }
      .sidebar-wrap .sidebar h1 img {
        margin: 0.75em auto;
        max-height: 55px;
        width: auto;
        display: inline-block;
        vertical-align: middle; }
    .sidebar-wrap .sidebar nav {
      display: block; }
      .sidebar-wrap .sidebar nav ul.side-nav {
        list-style: none;
        margin-left: -4px;
        padding: 0; }
        @media (max-width: 767px) {
          .sidebar-wrap .sidebar nav ul.side-nav {
            display: -webkit-inline-box;
            display: inline-box;
            display: -moz-inline-box;
            display: -o-inline-box;
            width: 28%; } }
        @media (min-width: 768px) and (max-width: 979px) {
          .sidebar-wrap .sidebar nav ul.side-nav {
            display: -webkit-inline-box;
            display: inline-box;
            display: -moz-inline-box;
            display: -o-inline-box;
            width: 28%; } }
        @media (max-width: 468px) {
          .sidebar-wrap .sidebar nav ul.side-nav {
            display: -webkit-inline-box;
            display: inline-box;
            display: -moz-inline-box;
            display: -o-inline-box;
            width: 18%; } }
        @media (max-width: 979px) and (min-width: 768px) {
          .sidebar-wrap .sidebar nav ul.side-nav {
            width: 100%; } }
        .sidebar-wrap .sidebar nav ul.side-nav li {
          padding-top: 25%;
          font-size: 1rem;
          margin-left: 15%;
          border-left: 4px solid transparent;
          cursor: pointer; }
          @media (min-width: 768px) and (max-width: 979px) {
            .sidebar-wrap .sidebar nav ul.side-nav li {
              padding-top: 0; } }
          @media (max-width: 767px) {
            .sidebar-wrap .sidebar nav ul.side-nav li {
              padding-top: 0;
              margin-left: 45%;
              font-size: 1.2rem; } }
          .sidebar-wrap .sidebar nav ul.side-nav li:hover {
            background: #dce0e9; }
          .sidebar-wrap .sidebar nav ul.side-nav li a {
            color: #003D4C; }
            @media (min-width: 768px) and (max-width: 979px) {
              .sidebar-wrap .sidebar nav ul.side-nav li a {
                line-height: 3;
                text-align: center;
                border: none;
                padding: .5rem 0; } }
            @media (max-width: 767px) {
              .sidebar-wrap .sidebar nav ul.side-nav li a {
                line-height: 3;
                text-align: center;
                border: none;
                padding: .5rem 0; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .sidebar-wrap {
      width: 100%; } }
  .sidebar-wrap img {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    height: auto; }
    @media (min-width: 768px) and (max-width: 979px) {
      .sidebar-wrap img {
        display: none; } }

.first-container {
  padding-top: 5%; }
  .first-container h1 {
    font-weight: 400;
    color: #003D4C; }

.main-section {
  width: 88.33333%;
  float: right;
  margin: 0 auto; }
  @media (min-width: 980px) and (max-width: 1199px) {
    .main-section {
      width: 85.33333%; } }

.primary-content {
  float: none; }

.margin-fix {
  margin-left: 0; }
